torchtyping
typeguard
git+https://github.com/finetuneanon/transformers.git#egg=transformers
DALL-E
gdown
pycocotools
ftfy
regex
tqdm
seaborn
timm
git+https://github.com/openai/CLIP.git
g-mlp-pytorch
deepspeed
wandb
fastapi
datapane
git+https://github.com/Maluuba/nlg-eval.git@master
gpustat
rtpt
